@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Inter:wght@400;500;600;700&family=Outfit:wght@600;800&display=swap');

@import "tailwindcss";

:root {
  /* --- MASTER COLOR THEME --- */

  --bg-main: #151218;
  --bg-panel: #1e1a23;
  --bg-hover: #2a2531;
  --bg-active: #1e1a23;

  --border-color: #374151;
  --text-main: #f3f4f6;
  --text-muted: #f3f4f6;
  --accent: #f59e0b;
  --accent-hover: #d97706;
  --danger: #ef4444;

  /* --- FONTS --- */
  --font-ui: 'Inter', sans-serif;
  --font-heading: 'Outfit', sans-serif;
  --font-code: 'Fira Code', monospace;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: var(--font-ui);
}

/* Custom Scrollbars */
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(--border-color); border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: var(--text-muted); }